body{
   text-align: center;
   color: aliceblue;
   background-image: url("noctyx.png");
   
}
h1{
    background-color: aliceblue;
    color:black;
    width:400px;
    position: relative;
    left:550px;
    border-radius: 15px;
    
}
h2{
    /*預留歌曲名稱顯示空間*/
    color:black;
    height: 32px;
    font-size: medium;
    border : solid rgb(246, 143, 160);
    background-color: pink;
    text-align: center;
    position: relative;
}
input {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: pink;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(246, 143, 160);
  }
  
  input :hover {background-color: rgb(255, 133, 153)}
  
  input:active {
    background-color: rgb(246, 143, 160);
    box-shadow: 0 5px rgb(255, 133, 153);
    transform: translateY(4px);
  }