body{
    text-align: center;
}
table{
    width : 60%;
    margin : auto;
    font-size : 1.5em;
    /* border :1px solid black; */
}
td{
    border-bottom:1px solid rgb(36, 255, 237);
}
/* th -> 表格標題(有加粗) */
/* td -> 表格資料 */