body{
   text-align: center;
   color: aliceblue;
   background-image: url("noctyx.png");
}
h1{
    background-color: aliceblue;
    color:black;
    width:400px;
    position: relative;
    left:450px;
    border-radius: 15px;
    
}
h2{
    /*預留歌曲名稱顯示空間*/
    color:black;
    height: 32px;
    font-size: medium;
    border : solid rgb(246, 143, 160);
    background-color: pink;
    text-align: center;
    position: relative;
}
